<h1>Rushing Stats</h1>
<%= form_tag(rushes_path(@index_params), method: :get) do %>
  <%= label_tag('Player Name:') %>
  <%= text_field_tag('name') %>
  <%= submit_tag('Search') %>
<%- end %>
<hr />
<table class="pure-table">
  <thead>
    <tr>
      <% Rush::NAME_ATTR_PAIRS.each do |title, attr| %>
        <% order = RushesService.order_param(@index_params, attr) %>
        <td><%= link_to(title, rushes_path(@index_params.merge(order_by: attr, order: order))) %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @rushes.each do |rush| %>
      <tr>
        <% Rush::NAME_ATTR_PAIRS.each do |_, attr| %>
          <td><%= rush[attr] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% page = @page_metadata[:page] %>
<% remaining = @page_metadata[:remaining] %>
<%= link_to("<< prev", rushes_path(@index_params.merge(page: page - 1)), class: 'pure-button') if page > 0 %>
<%= link_to("next >>", rushes_path(@index_params.merge(page: page + 1)), class: 'pure-button') if remaining > 0 %>
<hr />
<%= link_to("Download CSV", rushes_path(@index_params.merge(format: 'csv')), class: 'pure-button') %>
